#ed11y-demo {
  img {
    max-width: 100%;
    width: 20em;
  }

  h2 {
    border-top: 1px solid;
    padding: 1em 0 .5em;
    margin: 1.5em 0 0;
  }

  em[aria-hidden="true"] {
    font-size: 1rem;
    font-weight: 300;
  }

  .low-contrast {
    background: #fff;
    color: #ccc;
  }
}