includes:
  - phpstan-baseline.neon
parameters:
  level: 2
  reportUnmatchedIgnoredErrors: false
  ignoreErrors:
    # new static() is a best practice in Drupal.
    - "#^Unsafe usage of new static#"
