# Reporter level: error, warn, info, http, verbose, debug, silly
# @see tests/src/Playwright/utilities/reporter.ts
PLAYWRIGHT_DEBUG_LEVEL='info'

## Uncomment the section you need, @see README.md

##
# Case 1: Web server only, no database service (SQLite), no Drupal installation
#
# Tests will install Drupal (like CI) and create a simpletest environment.
# All required modules or themes should be enabled from the
# tests/src/TestSite/PlaywrightTestSetup.php
# Your settings.php MUST include:
# $settings['extension_discovery_scan_tests'] = TRUE;

# Webserver from Playwright config playwright.config.ts (Built-in PHP).
DRUPAL_TEST_BASE_URL='http://localhost:8000'
# Manual PHP built in webserver from Drupal root: `php -S localhost:8000`
# DRUPAL_TEST_BASE_URL='http://localhost:8000/web'
# # DRUPAL_TEST_BASE_URL='http://hostmachine:8000' # Playwright with Docker

# # Important!: adapt your path to your module.
#
DRUPAL_TEST_SETUP_FILE='core/tests/Drupal/TestSite/TestSiteInstallTestScript.php'
DRUPAL_TEST_DB_URL=sqlite://localhost/sites/default/files/simpletest/.test_playwright.sqlite

##
# Case 2: Drupal with DDEV, some modules and themes are required, see doc.
#
# Your settings.php MUST include:
# $settings['extension_discovery_scan_tests'] = TRUE;
#
# If modules or themes are required by tests, they must be enabled manually.
# Tests will run faster.

# DRUPAL_TEST_BASE_URL='https://ui-icons.ddev.site'
# DRUPAL_TEST_SKIP_INSTALL=true
# DRUPAL_TEST_DRUSH_PREFIX='ddev'

##
# Some ci variables empty or ignored for local tests.
# @see .gitlab-ci.yml for how these variables are used.

# DRUPAL_WEB_ROOT=''
# SIMPLETEST_URL_FOLDER=''
# DRUPAL_TEST_WEBSERVER_USER=www-data
# PLAYWRIGHT_SKIP_TEARDOWN=true
# PLAYWRIGHT_BROWSERS_PATH=
# PLAYWRIGHT_TEST_PROJECT=firefox,chromium
# PLAYWRIGHT_TEST_TAG=@__MY_MODULE__
