**/build/*.js
webpack.config.js
**/tests/**
**/tests/playwright/**.config.js
**/playwright-report/*
**/test-results/*
**/tests/src/Playwright/__snapshots__/Tests/**/*.yml
**/tests/src/Playwright/**
**/playwright.config.ts
